# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
.angular/

# Visual Studio Code
.vscode/

# Miscellaneous
.DS_Store
Thumbs.db

# Environment files
.env
.env.*